<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <CustomAction Id="ShowMessage"
                  Script="vbscript"
                  Execute="immediate">
      <![CDATA[
        MsgBox "Hello from the installer!", vbInformation, "Installer Message"
      ]]>
    </CustomAction>

    <InstallExecuteSequence>
      <Custom Action="ShowMessage" After="InstallInitialize"/>
    </InstallExecuteSequence>
  </Fragment>
</Wix>
